<div class="container">
  <p>  </br> We provide van availability content with it's timings of Thammasat van station. This application helps to make travelling easy for the people residing in Thammasat area including AIT. The schedule of van available is updated in centralized data by administration and providers. User can book van  according to their timing preferences.</br>

    E-Tickets for van Management is a complete package developed for management of van availability in station which is intended to be used in reserving seats, billing and schedule timings for it’s booking.
  </p>

<!--  <div> <img src="card-img-bottom"  >-->
<!--  </div>-->

  <a href="https://docs.google.com/document/d/1ayBQv7fQzhp9B5SwKnop0zO-zMJDGvx8dc-zYx0coBY/edit">Ps3 documentation</a> <br>

  <a href="https://docs.google.com/document/d/15wlHArYth7Dfh1qpnIuhuPiCQ1jYRysPAqn1wyxpKYQ/edit">Ps4 documentation</a><br>

  <a href="https://docs.google.com/document/d/1D5BaT2yfuauJy6kOLalFAhTaWQbQBWeRaNYaI1MQahE/edit">Ps5 documentation</a><br>



</div>